.decision {
  width: 100%;
  height: 100%;

  text-shadow: 2px 2px 4px #000;

  & > div {
    position: relative;
    top: 18%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section {
  display: flex;

  margin: 16px;
  margin-bottom: 24px;

  & > * {
    margin: auto 8px;

    width: 72px;

    word-wrap: break-word;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }
}

@mixin shadow($color, $alpha) {
  box-shadow: 0px 0px 8px 1px rgba($color, $alpha);

  @media screen and (min-device-width: 1200px) {
    box-shadow: 0px 0px 4px 2px rgba($color, $alpha);

    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 8px 4px rgba($color, $alpha);
    }
  }
}

$green: rgb(52, 199, 89);
$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$gray: rgb(142, 142, 147);

.bigger {
  svg {
    width: 48px;
    height: 48px;
  }
}

.smaller {
  width: 48px;
  height: 48px;
}

.hit {
  @extend .bigger;

  button {
    background: rgba($green, $alpha: 1);
    @include shadow($green, 0.6);
  }

  h5 {
    position: absolute;
    bottom: -24px;
  }
}

.stand {
  @extend .bigger;

  button {
    background: rgba($red, $alpha: 1);
    @include shadow($red, 0.6);
  }

  h5 {
    position: absolute;
    bottom: -24px;
  }
}

.double {
  @extend .smaller;

  button {
    background: rgba($orange, $alpha: 1);
    @include shadow($orange, 0.6);
  }

  h5 {
    margin-top: 8px;
  }
}

.split {
  @extend .smaller;

  button {
    background: rgba($gray, $alpha: 1);
    @include shadow($gray, 0.6);
  }

  h5 {
    margin-top: 8px;
  }
}
