.control {
  display: flex;
  flex-direction: column;

  text-align: center;

  button {
    width: 48px;
    height: 48px;
  }

  h5 {
    position: absolute;

    top: 100%;
    left: 50%;

    transform: translate(-50%);

    font-size: 0.7rem;
  }
}
