@mixin icon {
  svg {
    width: 8vmin;
    height: 8vmin;
  }

  @media screen and (min-device-width: 1200px) {
    svg {
      width: 4vmin;
      height: 4vmin;
    }
  }
}

.trigger {
  z-index: 2;
  margin: 16px;

  position: absolute;

  @include icon();
}

.open {
  box-shadow: none;
}

.option {
  display: flex;
  align-items: center;

  @include icon();
}
